{% form 'recover_customer_password' %}
	<div id="password-recovery-form" class="form form_hidden" novalidate>
		<h3 class="heading heading_form">Восстановление</h3>
		<div class="form__grid">
			<div class="form__left-half"></div>
				<div class="form__right-half">
					<div class="input input_form">
					<h3 class="input__heading">E-mail</h3>
						<input id="recovery-email" name="recovery-email" class="input__field" type="email" value=""
						placeholder="your@dolphine.com" required>
						<span id="recovery-email-error" class="input__error">
						</span>
					</div>
					<p class="paragraph paragraph_form">Укажите свой Email.<br>Ссылку на создание нового пароля вы получите по
						электронной почте.</p>
					<button class="black-button submit-button" type="submit">Восстановить пароль</button>
				</div>
		</div>
  </div>
{% endform %}
