  <!-- MENU: BRANDS -->
  <div id="brands-menu" class="menu menu_hidden">
    <nav class="menu__left-half">
      <ul>
        <li id="link-to-other-objects" class="menu__list-element"><a href="" class="menu__link">Other Objects</a></li>
        <li id="link-to-black-form" class="menu__list-element"><a href="" class="menu__link">Black.Form</a></li>
        <li id="link-to-not-concept" class="menu__list-element"><a href="" class="menu__link">Not Concept</a></li>
        <li id="link-to-perfert" class="menu__list-element"><a href="" class="menu__link">Perfert</a></li>
        <li id="link-to-1991" class="menu__list-element"><a href="" class="menu__link">1991</a></li>
        <li id="link-to-liberte" class="menu__list-element"><a href="" class="menu__link">Liberte</a></li>
        <li id="link-to-natalie-tonkal" class="menu__list-element"><a href="" class="menu__link">Natalie Tonkal</a></li>
        <li id="link-to-anna-maslovskaya" class="menu__list-element"><a href="" class="menu__link">Anna Maslovskaya</a>
      </ul>
      <ul>
        <li id="link-to-sub-rosa" class="menu__list-element"><a href="" class="menu__link">Sub Rosa</a></li>
        <li id="link-to-hubris" class="menu__list-element"><a href="" class="menu__link">HUBRIS</a></li>
        <li id="link-to-atauchi" class="menu__list-element"><a href="" class="menu__link">Atauchi</a></li>
        <li id="link-to-arha" class="menu__list-element"><a href="" class="menu__link">Arha</a></li>
      </ul>
      <ul>
        <li id="link-to-odor-objects" class="menu__list-element"><a href="" class="menu__link">Odor Objects</a></li>
        <li id="link-to-perfume-opera" class="menu__list-element"><a href="" class="menu__link">Perfume Opera</a></li>
        <li id="link-to-behurr" class="menu__list-element"><a href="" class="menu__link">Behurr</a></li>
        <li id="link-to-sands" class="menu__list-element"><a href="" class="menu__link">Sands</a></li>
      </ul>
    </nav>
    <div class="menu__right-half">
      <img id="image-for-other-objects" class="menu__image menu__image_hidden" src="./images/content/brands-other-objects.jpg" alt="Other Objects" >
      <img id="image-for-black-form" class="menu__image menu__image_hidden" src="./images/content/brands-black-form.jpg" alt="Black.Form" >
      <img id="image-for-not-concept" class="menu__image menu__image_hidden" src="./images/content/brands-not-concept.jpg" alt="Not Concept" >
      <img id="image-for-perfert" class="menu__image menu__image_hidden" src="./images/content/brands-perfert.jpg" alt="Perfert" >
      <img id="image-for-1991" class="menu__image menu__image_hidden" src="./images/content/brands-1991.jpg" alt="1991" >
      <img id="image-for-liberte" class="menu__image menu__image_hidden" src="./images/content/brands-liberte.jpg" alt="Liberte" >
      <img id="image-for-natalie-tonkal" class="menu__image menu__image_hidden" src="./images/content/brands-natalie-tonkal.jpg" alt="Natalie Tonkal" >
      <img id="image-for-anna-maslovskaya" class="menu__image menu__image_hidden" src="./images/content/brands-anna-maslovskaya.jpg" alt="Anna Maslovskaya" >
      <img id="image-for-sub-rosa" class="menu__image menu__image_hidden" src="./images/content/brands-sub-rosa.jpg" alt="Sub Rosa" >
      <img id="image-for-hubris" class="menu__image menu__image_hidden" src="./images/content/brands-hubris.jpg" alt="HUBRIS" >
      <img id="image-for-atauchi" class="menu__image menu__image_hidden" src="./images/content/brands-atauchi.jpg" alt="Atauchi" >
      <img id="image-for-arha" class="menu__image menu__image_hidden" src="./images/content/brands-arha.jpg" alt="Arha" >
      <img id="image-for-odor-objects" class="menu__image menu__image_hidden" src="./images/content/brands-odor-objects.jpg" alt="Odor Objects" >
      <img id="image-for-perfume-opera" class="menu__image menu__image_hidden" src="./images/content/brands-perfume-opera.jpg" alt="Perfume Opera" >
      <img id="image-for-behurr" class="menu__image menu__image_hidden" src="./images/content/brands-behurr.jpg" alt="Behurr" >
      <img id="image-for-sands" class="menu__image menu__image_hidden" src="./images/content/brands-sands.jpg" alt="Sands" >
    </div>
  </div>