  <!-- MENU: CATEGORIES -->
  <div class="menu">
    <nav class="menu__left-half">
      <ul class="menu__list">
        <li class="menu__list-element"><a href="" class="menu__link">Подвески</a></li>
        <li class="menu__list-element"><a href="" class="menu__link">Серьги</a></li>
        <li class="menu__list-element"><a href="" class="menu__link">Кольца</a></li>
        <li class="menu__list-element"><a href="" class="menu__link">Браслеты</a></li>
        <li class="menu__list-element"><a href="" class="menu__link">Заколки</a></li>
      </ul>
      <ul class="menu__list">
        <li class="menu__list-element"><a href="" class="menu__link">Парфюм</a></li>
        <li class="menu__list-element"><a href="" class="menu__link">Головные уборы</a></li>
      </ul>
    </nav>
    <div class="menu__right-half menu__right-half_categories"></div>
  </div>