<!-- COOKIES -->

<!-- <div class="cookies">
  <p class="cookies__text">
    Our site, like most others, uses cookies and other similar technologies (pixel tags, etc.) to provide services
    that best meet your interests and needs, as well as collect statistical and marketing information to analyze and
    improve our services and sites.<br><br>By using this site, you agree to the use of cookies and other similar
    technologies in accordance with this Notice.
  </p>
  <button class="cookies__close-button"></button>
</div> -->