<!-- COOKIES -->

<!-- <div class="cookies">
  <p class="cookies__text">
      Наш сайт, как и большинство других, использует файлы cookie и другие подобные технологии (пиксельные теги и т.д.)
      для предоставления услуг, которые наилучшим образом соответствуют вашим интересам и потребностям, а также для
      сбора
      статистической и маркетинговой информации для анализа и улучшения наших услуг и сайта.
      <br><br>
      Используя этот сайт, вы соглашаетесь на использование файлов cookie и других подобных технологий в соответствии
      с настоящим Уведомлением..
  </p>
  <button class="cookies__close-button"></button>
</div> -->
