<!-- /templates/customers/login.liquid -->
<form class="form">
    <h3 class="form__heading">Вход</h3>
    <div class="form__grid">
    <div class="form__left-half">
        <h4 class="form__input-name">E-mail:</h4>
        <input class="form__input" placeholder="your@e-mail.com">
        <span class="form__error">Неверный адрес электронной почты</span>
        <button class="form__button form__button_signin">Регистрация</button>
    </div>
    <div class="form__right-half">
        <h4 class="form__input-name">Пароль:</h4>
        <input class="form__input" placeholder="Your pass">
        <span class="form__error">Неверный пароль</span>
        <button class="form__button form__button_submit">Вход</button>
        <button class="form__forgot-password">Забыли пароль?</button>
    </div>
    </div>
</form>