<footer class="footer footer_hidden">
  <nav class="footer__left-half">
    <ul class="footer__nav-list">
      <li class="footer__nav-list-element"><a href="/pages/about-us" class="footer__nav-link">О нас</a>
      </li>
      <li class="footer__nav-list-element"><a href="/pages/contacts" class="footer__nav-link">Контакты</a>
      </li>
      <li class="footer__nav-list-element footer__nav-link">Чат:
      </li>
      <button class="footer__chatra-button"></button>
      <!-- <button id="open_chatra" onclick="Chatra('openChat', true)"></button> -->
    </ul>
    <ul class="footer__nav-list footer__contacts">
      <li class="footer__nav-list-element"><a href="/pages/waranty-and-returns" class="footer__nav-link">Гарантия и
          возврат</a></li>
      <li class="footer__nav-list-element"><a href="/pages/shipping-and-payment" class="footer__nav-link">Доставка и
          оплата</a></li>
      <li class="footer__nav-list-element"><a href="/pages/care-for-jewelry" class="footer__nav-link">Уход за
          украшениями</a></li>
    </ul>
    <ul class="footer__nav-list">
      <li class="footer__nav-list-element"><a href="/pages/offer" class="footer__nav-link">Оферта</a></li>
      <li class="footer__nav-list-element"><a href="/pages/confidential" class="footer__nav-link">Конфиденциальность</a>
      </li>
    </ul>
  </nav>

  <ul class="footer__right-half">
    <li class="footer__contact">
      <h3 class="footer__contact-type">Телефон:</h3>
      <a class="footer__contact-data" href="tel:+79151398563">+79151398563</a>
    </li>
    <li class="footer__contact">
      <h3 class="footer__contact-type">E-mail:</h3>
      <a class="footer__contact-data" href="mailto:hello@symptom.jewelry">HELLO@SYMPTOM.JEWELRY</a>
    </li>
    <li class="footer__contact">
      <h3 class="footer__contact-type">Подписаться на нас:</h3>
      <a class="footer__contact-data" href="https://www.instagram.com/symptom.jewelry/" target="_blank">INSTAGRAM</a>
    </li>
  </ul>
</footer>

<!-- Chatra {literal} -->
<script>
  window.ChatraSetup = {
    buttonStyle: 'round',
    buttonSize: 60,
    zIndex: -90,
  };
</script>

<script>
  (function (d, w, c) {
    w.ChatraID = 'KMkqqkL7L6Xodz5x2';
    var s = d.createElement('script');
    w[c] = w[c] || function () {
      (w[c].q = w[c].q || []).push(arguments);
    };
    s.async = true;
    s.src = 'https://call.chatra.io/chatra.js';
    if (d.head) d.head.appendChild(s);
  })(document, window, 'Chatra');


</script>

{% if shop.customer_accounts_enabled %}
{% if customer %}
<a href="/account">account</a>
{{ 'log out' | customer_logout_link }}
{% else %}
{{ 'log in ' | customer_login_link }}
{{ 'register' | customer_register_link }}
{% endif %}
{% endif %}