<section class="section section_2">
  <a href="#">
    <div class="section__info section__info_flex-end">
      <div class="section__heading-alignment">
        <h2 class="section__heading">СКИДКИ</h2>
        <!-- <span class="section__heading-span">Скидки по ссылке</span> -->
      </div>
      <!-- <p class="section__paragraph">OTHER OBJECTS, ODOR OBJECTS, KOLCO CIGANSCOE, +5 HP IF YOU HAVE LOW MANA (The
        following
        brands participate in the promotion).</p> -->
    </div>
  </a>
</section>

  {% schema %}
  {
    "name": "fullpage-section-2",
    "settings": [

    ]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}

{% endjavascript %}