<section class="section section_1 active">
  <div class="section__info">
    <h2 class="section__heading">НОВИНКИ</h2>
    <!-- <p class="section__paragraph section__paragraph_bottom">Новинки по ссылке
    </p> -->
  </div>
</section>
