<section class="section section_4">
    <div class="section__info">
      <h2 class="section__heading">Подарочный сертификат</h2>
      <!-- <p class="section__paragraph section__paragraph_bottom section__paragraph_short">Here you can order your own
        jewelry, which
        will be created according to your design.
        Together we will agree on the terms of reference, estimated dates and cost of the product, and then sign an
        agreement on its creation. We will help to realize any of your ideas - a jewelry can be made of silver or
        gold, using precious and semiprecious stones, engraving or using enamel. The cost of the product depends on
        the complexity of the work, as well as on the cost of the selected metals and precious and semiprecious
        stones, but what cannot be counted in money is the joy of jewelry that will only be with you or the person to
        whom you will give it.</p> -->
    </div>
  </section>

  {% schema %}
  {
    "name": "fullpage-section-4",
    "settings": [

    ]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}

{% endjavascript %}