<section class="section section_3">
    <div class="section__info">
      <h2 class="section__heading">8 МАРТА</h2>
      <!-- <p class="section__paragraph section__paragraph_3">The concept is that there is no concept and this gives me
        complete
        freedom. I don’t
        attach myself to anything, I have a lot of space for thought,because I’m still at the beginning of the way: I
        study transforming and this is reflected in the design. I experiment a lot with forms, combine different
        textures and minerals. This technique can be seen in rings with large stones. They can not be repeated,
        because it uses natural stone, a copy of which can never be found. My jewelry is not distributed by gender -
        each time it warms my soul to see a guy with a cuff or ring of my design.</p>
      <p class="section__paragraph section__paragraph_bottom">NOW IN OUR STORE</p> -->
    </div>
  </section>

  {% schema %}
  {
    "name": "fullpage-section-3",
    "settings": [

    ]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}

{% endjavascript %}