<section class="section section_4">
  <a href="#">
    <div class="section__info">
      <h2 class="section__heading">Подарочный сертификат</h2>
      <p class="section__paragraph section__paragraph_bottom section__paragraph_short">подарочный сертификат не имеет срока действия и доступен для использования на сайте или в наших магазинах</p>
    </div>
  </a>
</section>

  {% schema %}
  {
    "name": "fullpage-section-4",
    "settings": [

    ]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}

{% endjavascript %}