<section class="section section_1 active">
  <a href="#">
    <div class="section__info">
      <h2 class="section__heading">НОВИНКИ</h2>
      <p class="section__paragraph section__paragraph_bottom">взгляните на наши новые украшения
      </p>
    </div>
  </a>
</section>
