<section class="section section_3">
  <a href="#">
    <div class="section__info">
      <h2 class="section__heading">8 МАРТА</h2>
      <p class="section__paragraph section__paragraph_3">наша подборка украшений к восьмому дню весны</p>
      <!-- <p class="section__paragraph section__paragraph_bottom"></p> -->
    </div>
  </a>
</section>

{% schema %}
{
  "name": "fullpage-section-3",
  "settings": [

  ]
}
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}

{% endjavascript %}