  <!-- ШАПКА -->
  <header class="header">
    <a href="./index.html">
      <div class="logo"></div>
    </a>
    <button class="menu-button">Меню</button>
  </header>

  <!-- МЕНЮ -->
  <div class="menu-popup menu-popup_hidden">
    <div class="fake-header">
      <a href="./index.html">
        <div class="fake-logo"></div>
      </a>
      <button class="menu-close-button">Закрыть</button>
    </div>
    <nav class="menu">
      <ul class="menu-list">
        <li class="menu-list-element"><a class="menu-link" href="./pages/brands/brands.html">Бренды</a></li>
        <li class="menu-list-element"><a class="menu-link" href="./pages/categorys/categorys.html">Категории</a></li>
      </ul>
      <ul class="menu-list">
        <li class="menu-list-element"><a class="menu-link" href="./pages/log_in/log_in.html">Войти</a></li>
        <li class="menu-list-element"><a class="menu-link" href="./pages/wishes/wishes.html">Желания</a></li>
        <li class="menu-list-element"><a class="menu-link" href="./pages/cart/cart.html">Корзина(0)</a></li>
      </ul>
      <ul class="menu-list">
        <li class="menu-list-element"><a class="menu-link" href="#">Подписаться</a></li>
        <li class="menu-list-element"><a class="menu-link" href="./pages/about_us/about_us.css">О нас</a></li>
      </ul>
    </nav>
  </div>