<!-- FORM: PASSWORD RECOVERY -->
<form class="form">
<h3 class="form__heading">Восстановление</h3>
<div class="form__grid">
    <div class="form__left-half"></div>
    <div class="form__right-half">
    <h4 class="form__input-name">E-mail / Имя пользователя</h4>
    <input class="form__input" placeholder="your@e-mail.com">
    <span class="form__error">Неверный адрес электронной почты</span>
    <p class="form__recovery-text">
        Укажите свой Email или имя пользователя.<br>Ссылку на создание нового пароля Вы получите<br>по электронной почте.
    </p>
    <button class="form__button form__button_submit form__button_recovery">Восстановить пароль</button>
    </div>
</div>
</form>