<div class="filters filters_categories" style="background-color: #fafafa;">
    <label class="filters__filter">
      <input class="filters__true-radio" type="radio" name="filter" checked>
      <span class="filters__fake-radio">Все</span>
    </label>
    <label class="filters__filter">
      <input class="filters__true-radio" type="radio" name="filter">
      <span class="filters__fake-radio">Мои</span>
    </label>
    <label class="filters__filter">
      <input class="filters__true-radio" type="radio" name="filter">
      <span class="filters__fake-radio">Подвески</span>
    </label>
    <label class="filters__filter">
      <input class="filters__true-radio" type="radio" name="filter">
      <span class="filters__fake-radio">Серьги</span>
    </label>
    <label class="filters__filter">
      <input class="filters__true-radio" type="radio" name="filter">
      <span class="filters__fake-radio">Кольца</span>
    </label>
    <label class="filters__filter">
      <input class="filters__true-radio" type="radio" name="filter">
      <span class="filters__fake-radio">Каффы</span>
    </label>
    <label class="filters__filter">
      <input class="filters__true-radio" type="radio" name="filter">
      <span class="filters__fake-radio">Браслеты</span>
    </label>
    <label class="filters__filter">
      <input class="filters__true-radio" type="radio" name="filter">
      <span class="filters__fake-radio">Заколки</span>
    </label>
    <label class="filters__filter">
      <input class="filters__true-radio" type="radio" name="filter">
      <span class="filters__fake-radio">Парфюм</span>
    </label>
    <!-- <label class="filters__filter">
      <input class="filters__true-radio" type="radio" name="filter">
      <span class="filters__fake-radio">Одежда</span>
    </label>
    <label class="filters__filter">
      <input class="filters__true-radio" type="radio" name="filter">
      <span class="filters__fake-radio">Головные уборы</span>
    </label> -->
</div>


<!-- CARDS -->
<section class="cards">
<div class="card card_vertical">
    <img class="card__picture" src="../images/content/pendal-a.jpg" alt="A">
    <div class="card__bottom">
    <div class="card__info">
        <div class="card__name-and-material">
        <h3 class="card__name">A</h3>
        <span class="card__material">(Gold/Silver)</span>
        </div>
        <span class="card__price">30 00000(Rub)</span>
    </div>
    <button class="like-button like-button_active"></button>
    </div>
</div>

<div class="card card_square">
    <img class="card__picture card__picture_square" src="../images/content/ring-prayer-silver.jpg" alt="Prayer">
    <div class="card__bottom">
    <div class="card__info">
        <div class="card__name-and-material">
        <h3 class="card__name">Prayer</h3>
        <span class="card__material">(Silver)</span>
        </div>
        <span class="card__price">30 00000(Rub)</span>
    </div>
    <button class="like-button like-button_active"></button>
    </div>
</div>
</section>