<h1 class="heading heading_text-page">Конфиденциальность</h1>
<div class="text-page">
  <p class="paragraph">Политика в отношении обработки персональных данных посетителей сайта:</p>
  <p class="paragraph"><strong>1. Общие положения</strong></p>
  <p class="paragraph">1.1. Настоящая Политика в отношении обработки персональных данных (далее –
    «Политика»)
    подготовлена в соответствии с п. 2 ч .1 ст. 18.1 Федерального закона Российской Федерации «О персональных
    данных»
    No152-ФЗ от 27 июля 2006 года (далее – «Закон») и определяет позицию ИП Зорипова Антона Ильдусовича (ОГРНИП:
    319774600399899, адрес регистрации: 117148, МОСКВА, УЛ. МАРШАЛА САВИЦКОГО, 26, 177) и/или его аффилированных
    лиц,
    (далее – «Компания») в области обработки и защиты персональных данных (далее – «Данные»), соблюдения прав и
    свобод
    каждого человека и, в особенности, права на неприкосновенность частной жизни, личную и семейную тайну.</p>
  <p class="paragraph"><strong>2. Область применения</strong></p>
  <p class="paragraph">2.1. Настоящая Политика распространяется на Данные, полученные как до, так и после
    ввода в
    действие настоящей Политики.</p>
  <p class="paragraph">2.2. Понимая важность и ценность Данных, а также заботясь о соблюдении
    конституционных прав
    граждан Российской Федерации и граждан других государств, Компания обеспечивает надежную защиту Данных.</p>
  <p class="paragraph">3. Определения</p>
  <p class="paragraph">3.1. Под Данными понимается любая информация, относящаяся к прямо или косвенно
    определенному или
    определяемому физическому лицу (гражданину), т.е. к такой информации, в частности, относятся: фамилия, имя,
    адрес
    регистрации/отправки корреспонденции, электронная почта, номер телефона.</p>
  <p class="paragraph">3.2. Под обработкой Данных понимается любое действие (операция) или совокупность
    действий
    (операций) с Данными, совершаемых с использованием средств автоматизации и/или без использования таких средств.
    К
    таким действиям (операциям) относятся: сбор, запись, систематизация, накопление, хранение, уточнение
    (обновление,
    изменение), извлечение, использование, передача (распространение, предоставление, доступ), обезличивание,
    блокирование, удаление, уничтожение Данных.</p>
  <p class="paragraph">3.3. Под безопасностью Данных понимается защищенность Данных от неправомерного
    и/или
    несанкционированного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления,
    распространения Данных, а также от иных неправомерных действий в отношении Данных.</p>
  <p class="paragraph"><strong>4. Правовые основания и цели обработки Данных</strong></p>
  <p class="paragraph">4.1. Обработка и обеспечение безопасности Данных в Компании осуществляется в
    соответствии с
    требованиями Конституции Российской Федерации, Закона, Трудового кодекса Российской Федерации, подзаконных
    актов,
    других определяющих случаи и особенности обработки Данных федеральных законов Российской Федерации, руководящих
    и
    методических документов ФСТЭК России и ФСБ России.</p>
  <p class="paragraph">4.2. Субъектами Данных, обрабатываемых Компанией, являются:</p>
  <ul class="text-page__list">
    <li class="text-page__list-element">клиенты – потребители, в т.ч. посетители сайта www.symptom.jewelry,
      принадлежащего
      Компании в том числе с целью оформления заказа на Сайте www.symptom.jewelry с последующей доставкой клиенту,
      получатели услуг;</li>
    <li class="text-page__list-element">участники бонусных программ лояльности;</li>
  </ul>
  <p class="paragraph">4.3. Компания осуществляет обработку Данных субъектов в следующих целях:</p>
  <p class="paragraph">осуществления возложенных на Компанию законодательством Российской Федерации
    функций, полномочий
    и обязанностей в соответствии с федеральными законами, в том числе, но не ограничиваясь: Гражданским кодексом
    Российской Федерации, Налоговым кодексом Российской Федерации, Трудовым кодексом Российской Федерации, Семейным
    кодексом Российской Федерации, Федеральным законом от 01.04.1996 г. No 27-ФЗ «Об индивидуальном
    (персонифицированном) учете в системе обязательного пенсионного страхования», Федеральным законом от 27.07.2006
    г.
    No 152-ФЗ «О персональных данных», Федеральным законом от 28.03.1998 г. No 53-ФЗ «О воинской обязанности и
    военной
    службе», Федеральным законом от 26.02.1997 г. No 31-ФЗ «О мобилизационной подготовке и мобилизации в Российской
    Федерации», Федеральным законом от 8.02.1998 г. No14-ФЗ «Об обществах с ограниченной ответственностью»,
    Федеральным
    законом от 07.02.1992 No2300-1 «О защите прав потребителей», Федеральным законом от 21.11.1996 г. No 129-ФЗ «О
    бухгалтерском учете», Федеральным законом от 29.11.2010 г. No 326-ФЗ «Об обязательном медицинском страховании в
    Российской Федерации»,</p>
  <p class="paragraph">Участников бонусных программ лояльности в целях:</p>
  <ol class="text-page__list">
    <li class="text-page__list-element">предоставления информации по товарам, проходящим акциям, состоянию лицевого
      счета;
    </li>
    <li class="text-page__list-element">идентификация участника в программе лояльности; обеспечение процедуры учета
      накопления
      и использования бонусов;</li>
    <li class="text-page__list-element">исполнения Компанией обязательств по программе лояльности.</li>
  </ol>
  <p class="paragraph">Клиентов – потребителей в целях:</p>
  <ol class="text-page__list">
    <li class="text-page__list-element">предоставления информации по товарам/услугам, проходящим акциям и
      специальным
      предложениям;</li>
    <li class="text-page__list-element">анализа качества предоставляемого Компанией сервиса и улучшению качества
      обслуживания
      клиентов Компании;</li>
    <li class="text-page__list-element">информирования о статусе заказа;</li>
    <li class="text-page__list-element">исполнения договора, в т.ч. договора купли-продажи, в.т.ч. заключенного
      дистанционным
      способом на Сайте, возмездного оказания услуг; предоставления услуг, а также учета оказанных потребителям
      услуг
      для осуществления взаиморасчетов;</li>
    <li class="text-page__list-element">доставки заказанного товара клиенту, совершившему заказ на Сайте, возврата
      товара.
    </li>
  </ol>
  <p class="paragraph"><strong>5. Принципы и условия обработки Данных.</strong></p>
  <p class="paragraph">5.1. При обработке Данных Компания придерживается следующих принципов: обработка
    Данных
    осуществляется на законной и справедливой основе; Данные не раскрываются третьим лицам и не распространяются без
    согласия субъекта Данных, за исключением случаев, требующих раскрытия Данных по запросу уполномоченных
    государственных органов, судопроизводства; определение конкретных законных целей до начала обработки (в т.ч.
    сбора)
    Данных; ведется сбор только тех Данных, которые являются необходимыми и достаточными для заявленной цели
    обработки;
    объединение баз данных, содержащих Данные, обработка которых осуществляется в целях, несовместимых между собой
    не
    допускается; обработка Данных ограничивается достижением конкретных, заранее определенных и законных целей;
    обрабатываемые Данные подлежат уничтожению или обезличиванию по достижению целей обработки или в случае утраты
    необходимости в достижении этих целей, если иное не предусмотрено федеральным законом.</p>
  <p class="paragraph">5.2. Компания может включать Данные субъектов в общедоступные источники Данных,
    при этом Компания
    берет письменное согласие субъекта на обработку его Данных, либо путем выражения согласия через форму сайта
    (чекбокс), нажатием которого субъект персональных данных выражает свое согласие.</p>
  <p class="paragraph">5.3. Компания не осуществляет обработку Данных, касающихся расовой, национальной
    принадлежности,
    политических взглядов, религиозных, философских и иных убеждений, интимной жизни, членства в общественных
    объединениях, в том числе в профессиональных союзах.</p>
  <p class="paragraph">5.4. Биометрические Данные (сведения, которые характеризуют физиологические и
    биологические
    особенности человека, на основании которых можно установить его личность и которые используются оператором для
    установления личности субъекта Данные) в Компании не обрабатываются.</p>
  <p class="paragraph">5.5. Компания не осуществляет трансграничную передачу Данных.</p>
  <p class="paragraph">5.6. В случаях, установленных законодательством Российской Федерации, Компания
    вправе
    осуществлять передачу Данных третьим лицам (федеральной налоговой службе, государственному пенсионному фонду и
    иным
    государственным органам) в случаях, предусмотренных законодательством Российской Федерации.</p>
  <p class="paragraph">5.7. Лица, осуществляющие обработку Данных на основании заключаемого с Компанией
    договора
    (поручения оператора), обязуются соблюдать принципы и правила обработки и защиты Данных, предусмотренные
    Законом.
    Для каждого третьего лица в договоре определяются перечень действий (операций) с Данными, которые будут
    совершаться
    третьим лицом, осуществляющим обработку Данных, цели обработки, устанавливается обязанность такого лица
    соблюдать
    конфиденциальность и обеспечивать безопасность Данных при их обработке, указываются требования к защите
    обрабатываемых Данных в соответствии с Законом.</p>
  <p class="paragraph">5.8. В целях исполнения требований действующего законодательства Российской
    Федерации и своих
    договорных обязательств обработка Данных в Компании осуществляется как с использованием, так и без использования
    средств автоматизации. Совокупность операций обработки включает сбор, запись, систематизацию, накопление,
    хранение,
    уточнение (обновление, изменение), извлечение, использование, передачу (предоставление, доступ), обезличивание,
    блокирование, удаление, уничтожение Данных.</p>
  <p class="paragraph">5.9. В Компании запрещается принятие на основании исключительно автоматизированной
    обработки
    Данных решений, порождающих юридические последствия в отношении субъекта Данных или иным образом затрагивающих
    его
    права и законные интересы, за исключением случаев, предусмотренных законодательством Российской Федерации.</p>
  <p class="paragraph"><strong>6. Права и обязанности субъектов Данных, а также Компании в части
      обработки
      Данных</strong></p>
  <p class="paragraph">6.1. Субъект, Данные которого обрабатываются Компанией, имеет право: — получать от
    Компании:</p>
  <ul class="text-page__list">
    <li class="text-page__list-element">подтверждение факта обработки Данных и сведения о наличии Данных,
      относящихся к
      соответствующему субъекту Данных;</li>
    <li class="text-page__list-element">сведения о правовых основаниях и целях обработки Данных; сведения о
      применяемых
      Компанией способах обработки Данных; сведения о наименовании и местонахождении Компании;</li>
    <li class="text-page__list-element">сведения о лицах (за исключением работников Компании), которые имеют доступ
      к Данным
      или которым могут быть раскрыты Данные на основании договора с Компанией или на основании федерального закона;
    </li>
    <li class="text-page__list-element">перечень обрабатываемых Данных, относящихся к субъекту Данных, и информацию
      об
      источнике их получения, если иной порядок предоставления таких Данных не предусмотрен федеральным законом;
    </li>
    <li class="text-page__list-element">сведения о сроках обработки Данных, в том числе о сроках их хранения;</li>
    <li class="text-page__list-element">сведения о порядке осуществления субъектом Данных прав, предусмотренных
      Законом;</li>
    <li class="text-page__list-element">наименование (Ф.И.О.) и адрес лица, осуществляющего обработку Данных по
      поручению
      Компании;</li>
    <li class="text-page__list-element">иные сведения, предусмотренные Законом или другими нормативно-правовыми
      актами
      Российской Федерации;</li>
  </ul>
  <p class="paragraph">— требовать от Компании:</p>
  <ul class="text-page__list">
    <li class="text-page__list-element">уточнения своих Данных, их блокирования или уничтожения в случае, если
      Данные являются
      неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели
      обработки;</li>
    <li class="text-page__list-element">отозвать свое согласие на обработку Данных в любой момент; требовать
      устранения
      неправомерных действий Компании в отношении его Данных;</li>
    <li class="text-page__list-element">обжаловать действия или бездействие Компании в Федеральную службу по надзору
      в сфере
      связи, информационных технологий и массовых коммуникаций (Роскомнадзор) или в судебном порядке в случае, если
      субъект Данных считает, что Компания осуществляет обработку его Данных с нарушением требований Закона или иным
      образом нарушает его права и свободы;</li>
  </ul>
  <p class="paragraph">— на защиту своих прав и законных интересов, в том числе на возмещения убытков
    и/или компенсацию
    морального вреда в судебном порядке.</p>
  <p class="paragraph">6.2. Компания в процессе обработки Данных обязана:</p>
  <ul class="text-page__list">
    <li class="text-page__list-element">предоставлять субъекту Данных по его запросу информацию, касающуюся
      обработки его ПДн,
      либо на законных основаниях предоставить отказ в течение тридцати дней с даты получения запроса субъекта
      Данных
      или его представителя;</li>
    <li class="text-page__list-element">разъяснить субъекту Данных юридические последствия отказа предоставить
      Данные, если
      предоставление Данных является обязательным в соответствии с федеральным законом;</li>
    <li class="text-page__list-element">до начала обработки Данных (если Данные получены не от субъекта Данных)
      предоставить
      субъекту Данных следующую информацию, за исключением случаев, предусмотренных частью 4 статьи 18 Закона:</li>
  </ul>
  <p class="paragraph">1) наименование либо фамилия, имя, отчество и адрес Компании или ее представителя;
  </p>
  <p class="paragraph">2) цель обработки Данных и ее правовое основание;</p>
  <p class="paragraph">3) предполагаемые пользователи Данных;</p>
  <p class="paragraph">4) установленные Законом права субъектов Данных;</p>
  <p class="paragraph">5) источник получения Данных.</p>
  <ul class="text-page__list">
    <li class="text-page__list-element">принимать необходимые правовые, организационные и технические меры или
      обеспечивать их
      принятие для защиты Данных от неправомерного или случайного доступа к ним, уничтожения, изменения,
      блокирования,
      копирования, предоставления, распространения Данных, а также от иных неправомерных действий в отношении
      Данных;
    </li>
    <li class="text-page__list-element">опубликовать в сети Интернет и обеспечить неограниченный доступ с
      использованием сети
      Интернет к документу, определяющему его политику в отношении обработки Данных, к сведениям о реализуемых
      требованиях к защите Данных;</li>
    <li class="text-page__list-element">предоставить субъектам Данных и/или их представителям безвозмездно
      возможность
      ознакомления с Данными при обращении с соответствующим запросом в течение 30 дней с даты получения подобного
      запроса;</li>
    <li class="text-page__list-element">осуществить блокирование неправомерно обрабатываемых Данных, относящихся к
      субъекту
      Данных, или обеспечить их блокирование (если обработка Данных осуществляется другим лицом, действующим по
      поручению Компании) с момента обращения или получения запроса на период проверки, в случае выявления
      неправомерной
      обработки Данных при обращении субъекта Данных или его представителя либо по запросу субъекту Данных или его
      представителя либо уполномоченного органа по защите прав субъектов персональных данных;</li>
    <li class="text-page__list-element">уточнить Данные либо обеспечить их уточнение (если обработка Данных
      осуществляется
      другим лицом, действующим по поручению Компании) в течение 7 рабочих дней со дня представления сведений и
      снять
      блокирование Данных, в случае подтверждения факта неточности Данных на основании сведений, представленных
      субъектом Данных или его представителем;</li>
    <li class="text-page__list-element">прекратить неправомерную обработку Данных или обеспечить прекращение
      неправомерной
      обработки Данных лицом, действующим по поручению Компании, в случае выявления неправомерной обработки Данных,
      осуществляемой Компанией или лицом, действующим на основании договора с Компанией, в срок, не превышающий 3
      рабочих дней с даты этого выявления;</li>
    <li class="text-page__list-element">прекратить обработку Данных или обеспечить ее прекращение (если обработка
      Данных
      осуществляется другим лицом, действующим по договору с Компанией) и уничтожить Данные или обеспечить их
      уничтожение (если обработка Данных осуществляется другим лицом, действующим по договору с Компанией) по
      достижения
      цели обработки Данных, если иное не предусмотрено договором, стороной которого, выгодоприобретателем или
      поручителем по которому является субъект Данных, в случае достижения цели обработки Данных;</li>
    <li class="text-page__list-element">прекратить обработку Данных или обеспечить ее прекращение и уничтожить
      Данные или
      обеспечить их уничтожение в случае отзыва субъектом Данных согласия на обработку Данных, если Компания не
      вправе
      осуществлять обработку Данных без согласия субъекта Данных;</li>
    <li class="text-page__list-element">вести журнал учета обращений субъектов ПДн, в котором должны фиксироваться
      запросы
      субъектов Данных на получение Данных, а также факты предоставления Данных по этим запросам.</li>
  </ul>
  <p class="paragraph"><strong>7. Требования к защите Данных</strong></p>
  <p class="paragraph">7.1. Компания при обработке Данных принимает необходимые правовые, организационные
    и технические
    меры для защиты Данных от неправомерного и/или несанкционированного доступа к ним, уничтожения, изменения,
    блокирования, копирования, предоставления, распространения Данных, а также от иных неправомерных действий в
    отношении Данных.</p>
  <p class="paragraph">7.2. К таким мерам в соответствии с Законом, в частности, относятся:</p>
  <ul class="text-page__list">
    <li class="text-page__list-element">назначение лица, ответственного за организацию обработки Данных, и лица,
      ответственного за обеспечение безопасности Данных;</li>
    <li class="text-page__list-element">разработка и утверждение локальных актов по вопросам обработки и защиты
      Данных;</li>
    <li class="text-page__list-element">применение правовых, организационных и технических мер по обеспечению
      безопасности
      Данных:</li>
    <li class="text-page__list-element">определение угроз безопасности Данных при их обработке в информационных
      системах
      персональных данных;</li>
    <li class="text-page__list-element">применение организационных и технических мер по обеспечению безопасности
      Данных при их
      обработке в информационных системах персональных данных, необходимых для выполнения требований к защите
      Данных,
      исполнение которых обеспечивает установленные Правительством Российской Федерации уровни защищенности Данных;
    </li>
    <li class="text-page__list-element">применение прошедших в установленном порядке процедуру оценки соответствия
      средств
      защиты информации;</li>
    <li class="text-page__list-element">оценка эффективности принимаемых мер по обеспечению безопасности Данных до
      ввода в
      эксплуатацию информационной системы персональных данных;</li>
    <li class="text-page__list-element">учет машинных носителей Данных, если хранение Данных осуществляется на
      машинных
      носителях;</li>
    <li class="text-page__list-element">обнаружение фактов несанкционированного доступа к Данным и принятие мер по
      недопущению
      подобных инцидентов в дальнейшем;</li>
    <li class="text-page__list-element">восстановление Данных, модифицированных или уничтоженных вследствие
      несанкционированного доступа к ним;</li>
    <li class="text-page__list-element">установление правил доступа к Данным, обрабатываемым в информационной
      системе
      персональных данных, а также обеспечение регистрации и учета всех действий, совершаемых с Данными в
      информационной
      системе персональных данных.</li>
    <li class="text-page__list-element">контроль за принимаемыми мерами по обеспечению безопасности Данных и уровнем
      защищенности информационных систем персональных данных;</li>
    <li class="text-page__list-element">оценка вреда, который может быть причинен субъектам Данных в случае
      нарушения
      требований Закона, соотношение указанного вреда и принимаемых Компанией мер, направленных на обеспечение
      выполнения обязанностей, предусмотренных Законом;</li>
    <li class="text-page__list-element">соблюдение условий, исключающих несанкционированный доступ к материальным
      носителям
      Данных и обеспечивающих сохранность Данных;</li>
    <li class="text-page__list-element">ознакомление работников Компании, непосредственно осуществляющих обработку
      Данных, с
      положениями законодательства Российской Федерации о Данных, в том числе с требованиями к защите Данных,
      локальными
      актами по вопросам обработки и защиты Данных, и обучение работников Компании.</li>
  </ul>
  <p class="paragraph"><strong>8. Сроки обработки (хранения) Данных</strong></p>
  <p class="paragraph">8.1. Сроки обработки (хранения) Данных определяются исходя из целей обработки
    Данных, в
    соответствии со сроком действия договора с субъектом Данных, требованиями федеральных законов, требованиями
    операторов Данных, по поручению которых Компания осуществляет обработку Данных, основными правилами работы
    архивов
    организаций, сроками исковой давности.</p>
  <p class="paragraph">8.2. Данные, срок обработки (хранения) которых истек, должны быть уничтожены, если
    иное не
    предусмотрено федеральным законом. Хранение Данных после прекращения их обработки допускается только после их
    обезличивания.</p>
  <p class="paragraph"><strong>9. Порядок получения разъяснений по вопросам обработки Данных</strong></p>
  <p class="paragraph">9.1. Лица, чьи Данные обрабатываются Компанией, могут получить разъяснения по
    вопросам обработки
    своих Данных, обратившись лично в Компанию или направив соответствующий письменный запрос по адресу
    местонахождения
    Компании: 115054, г. Москва​, Большой Овчинниковский переулок, 24 с1, магазин “Симптом”..</p>
  <p class="paragraph">9.2. В случае направления официального запроса в Компанию в тексте запроса
    необходимо указать:
  </p>
  <ul class="text-page__list">
    <li class="text-page__list-element">фамилию, имя, отчество субъекта Данных или его представителя;</li>
    <li class="text-page__list-element">номер основного документа, удостоверяющего личность субъекта Данных или его
      представителя, сведения о дате выдачи указанного документа и выдавшем его органе;</li>
    <li class="text-page__list-element">сведения, подтверждающие наличие у субъекта Данных отношений с Компанией;
      информацию
      для обратной связи с целью направления Компанией ответа на запрос;</li>
    <li class="text-page__list-element">подпись субъекта Данных (или его представителя). Если запрос отправляется в
      электронном виде, то он должен быть оформлен в виде электронного документа и подписан электронной подписью в
      соответствии с законодательством Российской Федерации.</li>
  </ul>
  <p class="paragraph"><strong>10. Особенности обработки и защиты Данных, собираемых Компанией с
      использованием сети
      Интернет</strong></p>
  <p class="paragraph">10.1. Компания обрабатывает Данные, поступающие от пользователей Cайта с ресурса:
    www.symptom.jewelry (далее совместно – Cайт), а также поступающие на адрес электронной почты Компании:
    info@symptom.jewelry.</p>
  <p class="paragraph">10.2. Сбор Данных</p>
  <p class="paragraph">Существуют два основных способа, с помощью которых Компания получает Данные с
    помощью сети
    Интернет:</p>
  <p class="paragraph">10.2.1. Предоставление Данных</p>
  <p class="paragraph">Предоставление Данных (самостоятельный ввод данных):</p>
  <ul class="text-page__list">
    <li class="text-page__list-element">фамилия</li>
    <li class="text-page__list-element">имя</li>
    <li class="text-page__list-element">адрес регистрации/отправки</li>
    <li class="text-page__list-element">корреспонденции электронная почта</li>
    <li class="text-page__list-element">номер телефона</li>
  </ul>
  <p class="paragraph">10.2.2. Субъектами Данных путем поступления на адрес электронной почты Компании:
    info@symptom.jewelry.</p>
  <p class="paragraph">10.3. Автоматически собираемая информация</p>
  <p class="paragraph">Компания может собирать и обрабатывать сведения, не являющимися персональными
    данными:</p>
  <ul class="text-page__list">
    <li class="text-page__list-element">информацию об интересах пользователей на Сайте на основе введенных поисковых
      запросов
      пользователей Сайта о реализуемых и предлагаемых к продаже товаров Компанией с целью предоставления актуальной
      информации клиентам Компании при использовании Сайта, а также обобщения и анализа информации, о том какие
      разделы
      Сайта и товары пользуются наибольшим спросом у клиентов Компании;</li>
    <li class="text-page__list-element">обработка и хранение поисковых запросов пользователей Сайта с целью
      обобщения и
      создания клиентской статистики об использовании разделов Сайта.</li>
  </ul>
  <p class="paragraph">Компания автоматически получает некоторые виды информации, получаемой в процессе
    взаимодействия
    пользователей с Cайтом, переписки по электронной почте и т. п. Речь идет о технологиях и сервисах, таких как
    веб-протоколы, куки, веб-отметки, а также приложения и инструменты указанной третьей стороны.</p>
  <p class="paragraph">При этом веб-отметки, куки и другие мониторинговые технологии не дают возможность
    автоматически
    получать Данные. Если пользователь Сайта по своему усмотрению предоставляет свои Данные, например, при
    заполнении
    формы обратной связи или при отправке электронного письма, то только тогда запускаются процессы автоматического
    сбора подробной информации для удобства пользования веб- сайтами и/или для совершенствования взаимодействия с
    пользователями.</p>
  <p class="paragraph">10.4. Использование Данных</p>
  <p class="paragraph">Компания вправе пользоваться предоставленными Данными в соответствии с заявленными
    целями их
    сбора при наличии согласия субъекта Данных, если такое согласие требуется в соответствии с требованиями
    законодательства Российской Федерации в области Данных.</p>
  <p class="paragraph">Полученные Данные в обобщенном и обезличенном виде могут использоваться для
    лучшего понимания
    потребностей покупателей товаров и услуг, реализуемых Компанией и улучшения качества обслуживания.</p>
  <p class="paragraph">10.5. Передача Данных</p>
  <p class="paragraph">Компания может поручать обработку Данных третьим лицам исключительно с согласия
    субъекта Данных.
    Также Данные могут передаваться третьим лицам в следующих случаях:</p>
  <p class="paragraph">а) B качестве ответа на правомерные запросы уполномоченных государственных
    органов, в
    соответствии с законами, решениями суда и пр.</p>
  <p class="paragraph">б) Данные не могут передаваться третьим лицам для маркетинговых, коммерческих и
    иных аналогичных
    целей, за исключением случаев получения предварительного согласия субъекта Данных.</p>
  <p class="paragraph">10.6. Сайт содержит ссылки на иные веб-ресурсы, где может находиться полезная и
    интересная для
    пользователей Сайта информация. При этом действие настоящей Политики не распространяется на такие иные сайты.
    Пользователям, переходящим по ссылкам на другие сайты, рекомендуется ознакомиться с политиками об обработке
    Данных,
    размещенными на таких сайтах.</p>
  <p class="paragraph">10.7. Пользователь Сайта может в любое время отозвать свое согласие на обработку
    Данных, направив
    сообщение на адрес электронной почты Компании: info@symptom.jewelry, либо направив письменное уведомление по
    адресу
    Компании: 115054, г. Москва​, Большой Овчинниковский переулок, 24 с1, магазин “Симптом”. После получения такого
    сообщения
    обработка Данных пользователя будет прекращена, а его Данные будут удалены, за исключением случаев, когда
    обработка
    может быть продолжена в соответствии с законодательством. Заключительные положения Настоящая Политика является
    локальным нормативным актом Компании. Настоящая Политика является общедоступной. Общедоступность настоящей
    Политики
    обеспечивается публикацией на Сайте Компании. Настоящая Политика может быть пересмотрена в любом из следующих
    случаев:</p>
  <ul class="text-page__list">
    <li class="text-page__list-element">при изменении законодательства Российской Федерации в области обработки и
      защиты
      персональных данных;</li>
    <li class="text-page__list-element">в случаях получения предписаний от компетентных государственных органов на
      устранение
      несоответствий, затрагивающих область действия Политики;</li>
    <li class="text-page__list-element">по решению руководства Компании;</li>
    <li class="text-page__list-element">при изменении целей и сроков обработки Данных;</li>
    <li class="text-page__list-element">при изменении организационной структуры, структуры информационных и/или
      телекоммуникационных систем (или введении новых);</li>
    <li class="text-page__list-element">при применении новых технологий обработки и защиты Данных (в т. ч. передачи,
      хранения);</li>
    <li class="text-page__list-element">при появлении необходимости в изменении процесса обработки Данных, связанной
      с
      деятельностью Компании. В случае неисполнения положений настоящей Политики Компания и ее работники несут
      ответственность в соответствии с действующим законодательством Российской Федерации. Контроль исполнения
      требований настоящей Политики осуществляется лицами, ответственными за организацию обработки Данных Компании,
      а
      также за безопасность персональных данных.</li>
  </ul>
</div>
