<h1 class="heading heading_text-page">Контакты</h1>
<div class="text-page text-page_flex">
  <div class="text-page__contact">
    <h3 class="text-page__contact-type">Номер:</h3>
    <a class="text-page__contact-data" href="tel:+79151398563">+79151398563</a>
  </div>
  <div class="text-page__contact">
    <h3 class="text-page__contact-type">E-mail:</h3>
    <a class="text-page__contact-data" href="mailto:hello@symptom.jewelry">HELLO@SYMPTOM.JEWELRY</a>
  </div>
  <div class="text-page__contact">
    <h3 class="text-page__contact-type">Адрес:</h3>
    <span class="text-page__contact-data">Москва​, Большой Овчинниковский переулок, 24 с1</span>
  </div>
  <p class="text-page__registered">ИП Зорипов А.И.<br>
    ИНН 770300748961<br>
    ОГРНИП 319774600399899</p>
</div>
