{{ content_for_index }}

<main id="fullpage">

  <section class="section section_1 active">
    <a href="/collections/новинки">
      <div class="section__info">
        <h2 class="section__heading">НОВИНКИ</h2>
        <p class="section__paragraph section__paragraph_bottom">взгляните на наши новые украшения
        </p>
      </div>
    </a>
  </section>

  <section class="section section_2">
    <a href="/collections/скидки">
      <div class="section__info section__info_flex-end">
        <div class="section__heading-alignment">
          <h2 class="section__heading">СКИДКИ</h2>
        </div>
      </div>
    </a>
  </section>

  <section class="section section_3">
    <a href="/collections/8-марта">
      <div class="section__info">
        <h2 class="section__heading">8 МАРТА</h2>
        <p class="section__paragraph section__paragraph_3">наша подборка украшений к восьмому дню весны</p>
        <!-- <p class="section__paragraph section__paragraph_bottom"></p> -->
      </div>
    </a>
  </section>

  <!-- <section class="section section_4">
    <a href="/products/сертификат-свободного-номинала">
      <div class="section__info">
        <h2 class="section__heading">Подарочный сертификат</h2>
        <p class="section__paragraph section__paragraph_bottom section__paragraph_short">подарочный сертификат не имеет
          срока действия и доступен для использования на сайте или в наших магазинах</p>
      </div>
    </a>
  </section> -->
</main>

{% section 'counter' %}

<!-- COOKIES -->
<div id="cookies-popup" class="cookies cookies_hidden">
  <p class="paragraph paragraph_cookies">
    Наш сайт, как и большинство других, использует файлы cookie и другие подобные технологии (пиксельные теги и т.д.)
    для предоставления услуг, которые наилучшим образом соответствуют вашим интересам и потребностям, а также для
    сбора
    статистической и маркетинговой информации для анализа и улучшения наших услуг и сайта.
    <br><br>
    Используя этот сайт, вы соглашаетесь на использование файлов cookie и других подобных технологий в соответствии
    с настоящим Уведомлением.
  </p>
  <button id="cookies-close-button" class="cookies__close-button"></button>
</div>