<h1 class="heading heading_text-page">ОФЕРТА</h1>
<div class="text-page">
    <p class="paragraph">Индивидуальный предприниматель Зорипов Антон Ильдусович, в лице интернет-магазина
    WWW.SYMPTOM.JEWELRY (далее ПРОДАВЕЦ), публикует настоящий договор, являющийся публичным договором-офертой в адрес
    как физических, так и юридических лиц (далее ПОКУПАТЕЛЬ) о нижеследующем:</p>
    <p class="paragraph">1. Предмет договора-оферты.</p>
    <p class="paragraph">1.1. ПРОДАВЕЦ обязуется передать в собственность ПОКУПАТЕЛЮ, а ПОКУПАТЕЛЬ обязуется оплатить
    и принять заказанные в интернет-магазине WWW.SYMPTOM.JEWELRY товары (далее ТОВАР).</p>
    <p class="paragraph">2. Момент заключения договора.</p>
    <p class="paragraph">2.1. Текст данного Договора является публичной офертой (в соответствии со статьей 435 и
    частью 2 статьи 437 Гражданского кодекса РФ).</p>
    <p class="paragraph">2.2. Факт оформления ЗАКАЗА ТОВАРА у ПРОДАВЦА как самостоятельно, так и через оператора,
    является безоговорочным принятием данного Договора, и ПОКУПАТЕЛЬ рассматривается как лицо, вступившее с ИП
    Зориповым Антоном Ильдусовичем в договорные отношения.</p>
    <p class="paragraph">2.3. Оформление ЗАКАЗА ТОВАРА и расчета осуществляется путем заказа ПОКУПАТЕЛЕМ в
    интернет-магазине WWW.SYMPTOM.JEWELRY.</p>
    <p class="paragraph">3. Характеристики ТОВАРА.</p>
    <p class="paragraph">3.1. В связи с разными техническими характеристиками изделий, цвет ТОВАРА может отличаться от
    представленного на сайте.</p>
    <p class="paragraph">3.2. Характеристики и внешний вид ТОВАРА могут отличаться от описанных на сайте.</p>
    <p class="paragraph">4. Цена ТОВАРА.</p>
    <p class="paragraph">4.1. Цены в интернет-магазине указаны в валюте РФ за единицу ТОВАРА.</p>
    <p class="paragraph">4.2. Указанная на Сайте цена товара может быть изменена интернет-магазином
    WWW.SYMPTOM.JEWELRY в одностороннем порядке.</p>
    <p class="paragraph">4.3. Общая сумма ЗАКАЗА, которая в некоторых случаях (по желанию покупателя) может включать
    платную доставку ТОВАРА, указывается в разделе «Корзина».</p>
    <p class="paragraph">5. Оплата ТОВАРА.</p>
    <p class="paragraph">5.1. При наличной форме оплаты ПОКУПАТЕЛЬ обязан уплатить ПРОДАВЦУ цену ТОВАРА в момент его
    передачи, а ПРОДАВЕЦ обязан предоставить ПОКУПАТЕЛЮ кассовый или товарный чек, или иной документ, подтверждающий
    оплату ТОВАРА.</p>
    <p class="paragraph">5.2. При безналичной форме оплаты обязанность ПОКУПАТЕЛЯ по уплате цены ТОВАРА считается
    исполненной с момента зачисления соответствующих денежных средств в размере 100% (ста процентов) предоплаты на
    расчетный счет ПРОДАВЦА по реквизитам, указанным в п. 13 (Реквизиты магазина) настоящего ДОГОВОРА.</p>
    <p class="paragraph">5.3. ТОВАРЫ поставляются ПОКУПАТЕЛЮ по ценам, наименованию, в количестве, соответствующем
    счету, оплаченному ПОКУПАТЕЛЕМ.</p>
    <p class="paragraph">6. Доставка ТОВАРА.</p>
    <p class="paragraph">6.1. Доставка ТОВАРА ПОКУПАТЕЛЮ осуществляется по адресу согласованные ПОКУПАТЕЛЕМ при
    оформлении ЗАКАЗА, либо ПОКУПАТЕЛЬ самостоятельно забирает товар со склада ПРОДАВЦА по адресу, указанному в п. 13
    (Реквизиты магазина).</p>
    <p class="paragraph">6.2. Доставка заказанных и оплаченных товаров производится в пределах территории РФ и по
    всему миру, и может быть ограничена по усмотрению Администрации Сайта.</p>
    <p class="paragraph">6.3. Стоимость доставки указана на Сайте и оплачивается Покупателем.</p>
    <p class="paragraph">6.4. Покупатель обязан произвести в присутствии курьера осмотр товара, проверить его наличие,
    количество и качество. Обязанность Сайта по передаче Товара Покупателю считается исполненной в момент передачи
    Товара.</p>
    <p class="paragraph">6.5. Риск случайного разрушения или повреждения Товара переходит к Покупателю в момент
    передачи ему товара, после того, как Покупателем поставлена подпись в документах, подтверждающих Доставку товара.
    </p>
    <p class="paragraph">6.6. Обязанность Сайта о передаче Товара Покупателю считается исполненной в момент передачи
    Товара Покупателю сотрудником курьерской службы.</p>
    <p class="paragraph">6.7. Покупатель соглашается с тем, что доставка не является частью Товара, но лишь отдельной
    услугой, которая заканчивается в момент передачи Товара Покупателю. В связи с этим приобретение Товара с доставкой
    не дает Покупателю право требования доставки приобретенного Товара в целях гарантийного обслуживания или замены,
    не дает возможности осуществлять гарантийное обслуживание или замену Товара посредством выезда к Покупателю и не
    подразумевает возможность возврата стоимости доставки Товара в случаях, когда Покупатель имеет право на возврат
    денег за Товар как таковой, в соответствии с Законом РФ «О защите прав потребителей».</p>
    <p class="paragraph">6.8. Неявка ПОКУПАТЕЛЯ или несовершение иных необходимых действий для принятия ТОВАРА могут
    рассматриваться ПРОДАВЦОМ в качестве отказа ПОКУПАТЕЛЯ от исполнения ДОГОВОРА.</p>
    <p class="paragraph">7. Гарантии на товар и возврат товара.</p>
    <p class="paragraph">7.1. Согласно Перечню непродовольственных товаров надлежащего качества, не подлежащих
    возврату или обмену, утвержденном Постановлением Правительства РФ от 19.01.1998 № 55 возврат ювелирных украшений
    надлежащего качества не производится.</p>
    <p class="paragraph">7.2. Гарантийный срок на ювелирные украшения составляет шесть месяцев. Под гарантией
    понимается ремонт ювелирных украшений с производственным браком за счёт продавца. Для подтверждения
    производственного брака изделие передается ПРОДАВЦУ для проведения независимой ювелирной и геммологической
    экспертизы. Если в результате экспертизы товара установлено, что его недостатки возникли вследствие обстоятельств,
    за которые не отвечает ПРОДАВЕЦ, ПОКУПАТЕЛЬ обязан возместить ПРОДАВЦУ расходы на проведение экспертизы, а также
    связанные с ее проведением расходы на хранение и транспортировку. </p>
    <p class="paragraph">7.2.1. Гарантийный срок на ювелирные украшения брендов “Sub Rosa”, “Other Objects” и “1991”
    является бессрочным, но при этом не может превышать срока фактического существования данных брендов, то есть
    вместе с окончанием деятельности бренда заканчивается и гарантия на произведённые им украшения.</p>
    <p class="paragraph">7.3. В случае обнаружения дефектов ювелирного изделия при получении, ПОКУПАТЕЛЬ имеет право
    обменять ювелирное изделие на аналогичное при условии сохранения чека, бирки и отсутствия следов носки.</p>
    <p class="paragraph">7.4. Доставка изделий на возврат осуществляется за счет ПОКУПАТЕЛЯ. ПОКУПАТЕЛЬ соглашается с
    тем, что доставка не является частью Товара, но лишь отдельной услугой, которая заканчивается в момент передачи
    Товара ПОКУПАТЕЛЮ. В связи с этим приобретение Товара с доставкой не дает ПОКУПАТЕЛЮ право требования доставки
    приобретенного Товара в целях гарантийного обслуживания или замены посредством выезда к ПОКУПАТЕЛЮ и не
    подразумевает возможность возврата стоимости доставки Товара в случаях, когда Покупатель имеет право на возврат
    денег за Товар как таковой, в соответствии с Законом РФ «О защите прав потребителей».</p>
    <p class="paragraph">7.5. Срок устранения недостатков и производственного брака ювелирного изделия составляет 60
    дней с момента признания ювелирной и геммологической экспертизы производственного брака.</p>
    <p class="paragraph">7.6. Неправильный уход за ювелирным изделием, который привёл к дефектам ювелирного изделия не
    считается производственным браком. Гарантия не распространяется на дефекты, образовавшиеся в результате:
    естественного износа, механических повреждений; воздействия химических веществ и воды; экстремальных температур;
    неправильной эксплуатации.</p>
    <p class="paragraph">7.7. Возврат товара принимается Продавцом по адресу: 115054, г. Москва​, Большой Овчинниковский переулок, 24 с1, магазин “Симптом”.</p>
    <p class="paragraph">8. Права и обязанности сторон.</p>
    <p class="paragraph">8.1. ПРОДАВЕЦ обязуется:</p>
    <p class="paragraph">8.1.1. Не разглашать любую частную информацию ПОКУПАТЕЛЯ и не предоставлять доступ к этой
    информации третьим лицам, за исключением случаев, предусмотренных Российским законодательством.</p>
    <p class="paragraph">8.1.2. Предоставить ПОКУПАТЕЛЮ возможность получения бесплатных телефонных консультаций по
    телефонам, указанным на сайте магазина (WWW.SYMPTOM.JEWELRY). Объем консультаций ограничивается конкретными
    вопросами, связанными с выполнениями ЗАКАЗА.</p>
    <p class="paragraph">8.2. ПОКУПАТЕЛЬ обязуется:</p>
    <p class="paragraph">8.2.1. До момента заключения ДОГОВОРА ознакомиться с содержанием договора-оферты, условиями
    оплаты и доставки на сайте магазина (WWW.SYMPTOM.JEWELRY).</p>
    <p class="paragraph">8.2.2. Предоставлять достоверную информацию о себе (ФИО, контактные телефоны, адрес
    электронной почты) и реквизиты для доставки ТОВАРА.</p>
    <p class="paragraph">8.2.3. Принять и оплатить ТОВАР в указанные в настоящем ДОГОВОРЕ сроки.</p>
    <p class="paragraph">9. Ответственность сторон и разрешение споров.</p>
    <p class="paragraph">9.1. Стороны несут ответственность за неисполнение или ненадлежащее исполнение настоящего
    ДОГОВОРА в порядке, предусмотренном настоящим ДОГОВОРОМ и действующим законодательством РФ.</p>
    <p class="paragraph">9.2. Продавец не несет ответственности за доставку ЗАКАЗА, если ПОКУПАТЕЛЕМ указан
    неправильный адрес доставки.</p>
    <p class="paragraph">9.3. ПРОДАВЕЦ не несет ответственности, если ожидания ПОКУПАТЕЛЯ о потребительских свойствах
    ТОВАРА оказались не оправданны.</p>
    <p class="paragraph">9.4. ПРОДАВЕЦ не несет ответственности за частичное или полное неисполнение обязательств по
    доставке ТОВАРА, если они являются следствием форс-мажорных обстоятельств.</p>
    <p class="paragraph">9.5. ПОКУПАТЕЛЬ, оформляя ЗАКАЗ, несет ответственность за достоверность предоставляемой
    информации о себе, а также подтверждает, что с условиями настоящего ДОГОВОРА ознакомлен и согласен.</p>
    <p class="paragraph">9.6. Все споры и разногласия, возникающие при исполнении СТОРОНАМИ обязательств по настоящему
    Договору, решаются путем переговоров. В случае невозможности их устранения, СТОРОНЫ имеют право обратиться за
    судебной защитой своих интересов.</p>
    <p class="paragraph">10. Изменение договора-оферты.</p>
    <p class="paragraph">10.1. Администрация сайта вправе вносить изменения в настоящий Договор-оферты без согласия
    Пользователя.</p>
    <p class="paragraph">10.2. Новый Договор-оферты вступает в силу с момента ее размещения на Сайте
    интернет-магазина, если иное не предусмотрено новой редакцией Договора-оферты.</p>
    <p class="paragraph">11. Форс-мажорные обстоятельства.</p>
    <p class="paragraph">11.1. Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение
    обязательств по Договору на время действия непреодолимой силы. Под непреодолимой силой понимаются чрезвычайные и
    непреодолимые при данных условиях обстоятельства, препятствующие исполнению своих обязательств СТОРОНАМИ по
    настоящему Договору. К ним относятся стихийные явления (землетрясения, наводнения и т. п.), обстоятельства
    общественной жизни (военные действия, чрезвычайные положения, крупнейшие забастовки, эпидемии и т. п.),
    запретительные меры государственных органов (запрещение перевозок, валютные ограничения, международные санкции
    запрета на торговлю и т. п.). В течение этого времени СТОРОНЫ не имеют взаимных претензий, и каждая из СТОРОН
    принимает на себя свой риск последствия форс-мажорных обстоятельств.</p>
    <p class="paragraph">12. Срок действия договора.</p>
    <p class="paragraph">12.1. Настоящий ДОГОВОР вступает в силу с момента обращения к ИП Зорипову Антону Ильдусовичу
    и оформления ЗАКАЗА, и заканчивается при полном исполнении обязательств СТОРОНАМИ.</p>
    <p class="paragraph">13. Реквизиты интернет-магазина.</p>
    <p class="paragraph">info@symptom.jewelry</p>
    <p class="paragraph">ИП Зорипов Антон Ильдусович</p>
    <p class="paragraph">ОГРНИП: 319774600399899</p>
    <p class="paragraph">ИНН: 770300748961</p>
    <p class="paragraph">Фактический адрес: 115054, г. Москва​, Большой Овчинниковский переулок, 24 с1, магазин “Симптом”.</p>
</div>