<h1 class="heading heading_text-page">Уход за украшениями</h1>
<div class="text-page">
    <p class="paragraph">Ювелирные украшения подобны живому организму и требуют за собой систематического
    ухода и любви.
    </p>
    <p class="paragraph">Основные металлы с которыми работает наш магазин серебро и золото. Мы используем
    натуральный
    жемчуг и драгоценные/полудрагоценные камни.</p>
    <p class="paragraph">Любое украшение мы можем выполнить в золоте 585 и 750 пробы в трёх оттенках:
    розовое, белое,
    жёлтое. </p>
    <p class="paragraph">Помимо золота, мы используем серебро покрытое позолотой. В отличие от золота, данные
    украшения
    требуют более бережного ухода, так как они покрываются слоем золота, а не состоят из него и ежедневная носка
    приводит к износу покрытия. Не волнуйтесь, мы всегда можем его восстановить.</p>
    <p class="paragraph">Хранить украшения необходимо в индивидуальных шкатулках или на бархате. Главное
    чтобы они не
    соприкасались с друг другом, тем самым мы исключим мелкие царапины на украшениях и потёртости.</p>
    <p class="paragraph">Ниже мы приведём основные рекомендации по уходу за нашими украшениями:</p>
    <p class="paragraph">* избегайте контакта с парфюмерией, дезодорантами. Это важно для того чтобы металл
    не вступал в
    химический контакт с духами и не менял свой натуральный оттенок. </p>
    <p class="paragraph">* Снимайте украшения в бассейне, сауне, ванне, тренажерном зале. </p>
    <p class="paragraph">* Украшения не любят море, но это не означает, что их невозможно взять в
    путешествие. Помните,
    что украшения, как и люди, впитывают эмоции и красоту вокруг нас! Важно снимать украшения во время купания, так
    как в морской воде содержится большое количество соли и металл может окислиться. Снимите украшения и
    наслаждайтесь
    целебной водой. </p>
    <p class="paragraph">* Во время приготовления аппетитной еды, рекомендуем снять украшения, так как кухня
    имеет
    резкие перепады температуры и это может влиять на металл. </p>
    <p class="paragraph">На первый взгляд кажется, что соблюдать эти правила сложно, но это совсем не так. Вы
    помогаете
    украшениям сохранять свой истинный вид, а украшения взамен подчеркнут Вашу красоту.</p>
    <p class="paragraph">Не переживайте если украшение потеряло свой товарный вид или потемнело, приносите
    его к нам в
    магазин «Symptom» по адресу: г. Москва​, Большой Овчинниковский переулок 24, с1, мы его обновим и почистим.</p>
    <p class="paragraph">В нашем магазине также можно приобрести текстиль по уходу и чистки за украшениями.
    </p>
    <p class="paragraph">Срок гарантии не имеет времени. Symptom искренне всегда с Вами!</p>
    <p class="paragraph">Мы благодарим Вас!</p>
</div>