<div>
    <h1 class="heading heading_text-page">О НАС</h1>
    <div class="text-page text-page_divided">
      <div class="text-page__left-half">
        <p class="about-us__text">Никто из нас не идеален и этим интересен. Наша индивидуальность — это симптом
          прекрасной и неизлечимой болезни, коей является человеческая жизнь.</p>
      </div>
      <div class="text-page__right-half">
        <p class="about-us__text">Магазин украшений «Symptom» — московский магазин основанный в сентябре 2019 года двумя
          дизайнерами брендов Other Objects и Sub Rosa, которые вдохновлялись уличной культурой, агендерностью,
          переосмыслением красоты и несовершенства.</p>
      </div>
    </div>
</div>