<div class="text-page__contacts">
	<h1 class="heading heading_text-page">Контакты</h1>
		<div class="text-page text-page_flex">
				<div class="text-page__contact">
					<h3 class="text-page__contact-type">Номер:</h3>
						<a class="text-page__contact-data" href="tel:+79151398563">+79151398563</a>
				</div>
				<div class="text-page__contact">
					<h3 class="text-page__contact-type">E-mail:</h3>
						<a class="text-page__contact-data" href="mailto:hello@symptom.jewelry">HELLO@SYMPTOM.JEWELRY</a>
				</div>
					<h3 class="text-page__contact-type">Адреса:</h3>
						<div class="text-page__contact-address">
							<div class="text-page__contact">
								<span class="text-page__contact-data">Москва​, Большой Овчинниковский переулок, 24 с1</span>
									<span class="text-page__contact-data">Работаем каждый день с 12 до 22</span>
										<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d561.4586630173835!2d37.628177429233!3d55.74400185368091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54b8c8079ce7f%3A0x10caf2e0b42034b5!2sSYMPTOM.JEWELRY!5e0!3m2!1sru!2sru!4v1614905184522!5m2!1sru!2sru" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
							</div>
							<div class="text-page__contact">
								<span class="text-page__contact-data">Санкт-Петербург, Манежный переулок дом 6</span>
									<span class="text-page__contact-data">Работаем каждый день с 12 до 22</span>
										<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d999.1655155276889!2d30.35360332822333!3d59.94324203955999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696319fcfc35fa7%3A0x6d73eb430fa290e4!2z0JzQsNC90LXQttC90YvQuSDQv9C10YAuLCA2LCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkxMDE0!5e0!3m2!1sru!2sru!4v1614905829378!5m2!1sru!2sru" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
							</div>
						</div>
				<p class="text-page__registered">ИП Зорипов А.И.<br>
				ИНН 770300748961<br>
				ОГРНИП 319774600399899</p>
				</div>
</div>