<h1>{{ product.title }}</h1>

<div>{{ product.description }}</div>

<div class="item">
  <div class="item__info">
    <button class="back-button">
      <div class="back-button__arrow"></div><span class="back-button__text">К бренду</span>
    </button>
    <h1 class="item__brand">Заколка</h1>
    <h2 class="item__name"></h2>
    <p class="item__description">Многофункциональный серебряный браслет с холодной эмалью. С помощью цепочки-регулятора его также можно использовать как чокер и браслет на ногу. Ручная работа. Ограниченный тираж.</p>
    <span class="item__status">In stock</span>
    <span class="item__price">19000 Rub.</span>
    <a href="./shipping_and_payment.html" class="item__shipping">Доставка и возврат</a>
  </div>

  <div class="item__image-wrapper">
    <img class="item__image" src="../images/content/bracelet-crumpled.jpg" alt="Prayer">
  </div>

  <div class="item__order">
    <h4 class="item__radio-heading">Материал:</h4>
    <div class="materials materials_bracelet">
      <label class="materials__material">
        <input class="materials__true-radio" type="radio" name="material">
        <span class="materials__fake-radio materials__fake-radio_bronze">Bronze</span>
      </label>
      <label class="materials__material">
        <input class="materials__true-radio" type="radio" name="material">
        <span class="materials__fake-radio materials__fake-radio_silver">Silver</span>
      </label>
    </div>
    <p class="item__preorder-info">
      Размер который вы выбрали отсутсвует в наличии. Но вы можете оформить предзаказ!
      После оформления заказа мы свяжемся с вами, чтобы обсудить все важные детали.
    </p>
    <div class="item__buttons item__buttons_bracelet">
      <button class="circle-like-button"></button>
      <button class="black-button">Предзаказ</button>
    </div>
  </div>
</div>

