{% paginate search.results by 100 %}
<div class="text-page text-page_divided text-page_brand">
  <form action="/search" method="get" role="search" class="search__result">
    <input type="search" name="q" value="{{ search.terms | escape }}" class="heading">
  </form>
</div>
<div class="grid-container">
  {% if search.performed %}
    {% for product in search.results %}
      {% for product in collection.products %}
        {% assign featured = product %}
        <div class="grid__item {{grid_item_width}}">
          {% include 'product-grid-item' %}
        </div>
    {% else %}
      <span class="search-result__text">Мы&nbsp;ничего&nbsp;не&nbsp;нашли:&nbsp;(</span>
    {% endfor %}
</div>
{% endpaginate %}

<div class="grid-container">
  {% assign grid_item_width = 'wide--one-fifth large--one-quarter medium-down--one-half' %}
  {%- assign product_width = 319 -%}
  {% for product in collection.products %}
    {% assign featured = product %}
    <div class="grid__item {{grid_item_width}}">
      {% include 'product-grid-item' %}
    </div>
  {% else %}
</div>
