<style>
  body {background-color: #FFFFFF;}
</style>

<h1 class="heading heading_text-page">Доставка и оплата</h1>
<div class="text-page">
  <p class="paragraph"><strong>Оплата и доставка по Москве</strong></p>
  <p class="paragraph">Доставка заказов по г. Москве осуществляется курьером с возможностью оплаты заказа
    при получении.
  </p>
  <p class="paragraph">Стоимость доставки по Москве в рабочие дни в пределах МКАД 350 рублей.</p>
  <p class="paragraph">Стоимость доставки по Москве за пределы МКАД составляет 500 рублей.</p>
  <p class="paragraph">Стоимость срочной доставке по Москве в пределах МКАД составляет 600 рублей.</p>
  <p class="paragraph">В случае безналичной оплаты за заказанный товар, доставка осуществляется после
    получения
    предоплаты на расчетный счет интернет-магазина.</p>
  <p class="paragraph"><strong>Самовывоз</strong></p>
  <p class="paragraph">В течение трёх дней с момента оформления заказа вы можете самостоятельно забрать
    товар в нашем
    магазине по адресу: Москва​, Большой Овчинниковский переулок, 24 с1 (метро Новокузнецкая)</p>
  <p class="paragraph"><strong>Доставка по России</strong></p>
  <p class="paragraph">В регионы России заказы доставляются курьерскими службами. Стоимость доставки
    согласовывается с
    менеджерами интернет-магазина. Товар в регионы России отправляется только после получения оплаты на расчетный счет
    интернет-магазина.</p>
  <p class="paragraph"><strong>Доставка по всему миру</strong></p>
  <p class="paragraph">Доставка по миру осуществляется курьерскими службами Почта России и EMS. Стоимость
    доставки
    указана на сайте или согласовывается с менеджерами интернет-магазина. Доставка по миру отправляется только
    получения
    оплаты на расчетный счет интернет-магазина.</p>
</div>