<h1 class="heading heading_text-page">Гарантия и возврат</h1>
<div class="text-page">
  <p class="paragraph">1. Согласно Перечню непродовольственных товаров надлежащего качества, не подлежащих возврату
    или
    обмену, утвержденном Постановлением Правительства РФ от 19.01.1998 № 55 возврат ювелирных украшений надлежащего
    качества не производится.</p>
  <p class="paragraph">2. Гарантийный срок на ювелирные украшения составляет шесть месяцев. Под гарантией понимается
    ремонт ювелирных украшений с производственным браком за счёт продавца. Для подтверждения производственного брака
    изделие передается ПРОДАВЦУ для проведения независимой ювелирной и геммологической экспертизы. Если в результате
    экспертизы товара установлено, что его недостатки возникли вследствие обстоятельств, за которые не отвечает
    ПРОДАВЕЦ, ПОКУПАТЕЛЬ обязан возместить ПРОДАВЦУ расходы на проведение экспертизы, а также связанные с ее
    проведением
    расходы на хранение и транспортировку. </p>
  <p class="paragraph">3. В случае обнаружения дефектов ювелирного изделия при получении, ПОКУПАТЕЛЬ имеет право
    обменять ювелирное изделие на аналогичное при условии сохранения чека, бирки и отсутствия следов носки.</p>
  <p class="paragraph">4. Доставка изделий на возврат осуществляется за счет ПОКУПАТЕЛЯ. ПОКУПАТЕЛЬ соглашается с
    тем,
    что доставка не является частью Товара, но лишь отдельной услугой, которая заканчивается в момент передачи
    Товара
    ПОКУПАТЕЛЮ. В связи с этим приобретение Товара с доставкой не дает ПОКУПАТЕЛЮ право требования доставки
    приобретенного Товара в целях гарантийного обслуживания или замены посредством выезда к ПОКУПАТЕЛЮ и не
    подразумевает возможность возврата стоимости доставки Товара в случаях, когда Покупатель имеет право на возврат
    денег за Товар как таковой, в соответствии с Законом РФ «О защите прав потребителей».</p>
  <p class="paragraph">5. Срок устранения недостатков и производственного брака ювелирного изделия составляет 60
    дней с
    момента признания ювелирной и геммологической экспертизы производственного брака.</p>
  <p class="paragraph">6. Неправильный уход за ювелирным изделием, который привёл к дефектам ювелирного изделия не
    считается производственным браком. Гарантия не распространяется на дефекты, образовавшиеся в результате:
    естественного износа, механических повреждений; воздействия химических веществ и воды; экстремальных температур;
    неправильной эксплуатации.</p>
  <p class="paragraph">7. Возврат товара принимается Продавцом по адресу: 115184, Москва​, Большой Овчинниковский
    переулок, 24 с1, магазин “Симптом”.</p>
</div>